@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.font-aeonik-light {
  font-family: var(--font-aeonik-light), Arial, Helvetica, sans-serif;
}

.font-aeonik-regular {
  font-family: var(--font-aeonik-regular), Arial, Helvetica, sans-serif;
}

.font-aeonik-medium {
  font-family: var(--font-aeonik-medium), Arial, Helvetica, sans-serif;
}

.font-aeonik-bold {
  font-family: var(--font-aeonik-bold), Arial, Helvetica, sans-serif;
}

/* globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1700px;
}
